{% extends "base.html" %}

{% block head_content %}
<title>Heeze Sign in</title>
{% endblock%}

{% block container %}

    {% if form.errors %}
        <p class="alert alert-danger">
            Tu username y password no coinciden. Por favor, intenta nuevamente.
        </p>
    {% endif%}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Username" name="username" />
        </div>

        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" name="password" />
        </div>


        <button class="btn btn-secondary btn-block mt-5" type="submit">Ingresar</button>

    </form>

    <p class="mt-4">No tienes una cuenta creada? <a href="{% url 'signup' %}">Registrate aquí.</a></p>

{% endblock %}